* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(211, 74, 20);
  justify-content: center;
  width: 322px;
  height: 322px;
}
.divs {
  border: 1px solid rgb(36, 221, 107);
  width: 100%;
}
.dive {
  border: 1px solid rgb(36, 70, 221);
  width: 20px;
  height: 20px;
}
.container > div:hover {
  background-color: cadetblue;
}
.addBackground {
  background-color: cadetblue;
}
